.ipynb_checkpoints/The Z Score or Standard score in python scipy-checkpoint.ipynb
.ipynb_checkpoints/Plotting a normal distribution with python and scipy-checkpoint.ipynb
.ipynb_checkpoints/Plotting a normal distribution-checkpoint.ipynb
.ipynb_checkpoints/The Z Score or Standard score-checkpoint.ipynb